* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Happy+Monkey&display=swap');

:root {
    /* PALETA DE CORES DO SITE */
    --branco: #ffffff;
    --branco-gelo: #e4e4e4;
    --cinza: #4b4843;
    --verdeMusgo: #618d60;
    --verdeOliva: #54ac54;
    --verdeLimao: #70b46c;
}

/* HOME DO SITE */
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 350px;
    background: var(--verdeOliva);
    width: auto;
    height: 365px;
}

.header-esq {
    font-family: 'Gochi Hand', cursive;
    font-size: 60px;
    margin-bottom: 110px;
    color: var(--branco);
}

.header-dir {
    margin-top: 78px;
}

.btn-inputs a{
    text-decoration: none;
    color: var(--branco);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 290px;
    margin-bottom: 100px;
}

.main-titulo {
    margin-top: 100px;
    margin-left: 100px;
    text-align: left;
    font-family: 'Happy Monkey', cursive;
    font-size: 34px;
    color: var(--verdeMusgo);
}

.main-conteudo {
    color: var(--cinza);
    margin-top: 26px;
    margin-left: 100px;
    text-align: left;
    font-family: 'Happy Monkey', cursive;
    font-size: 20px;
}

.main-img {
    margin-top: 100px;
    margin-right: 70px;
}

.main-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 60px;
    margin-top: 50px;
    margin-right: 100px;
}

.btn-inputs {
    font-size: 20px;
    font-family: 'Happy Monkey', cursive;
    border: none;
    width: 180px;
    height: 60px;
    background-color: var(--verdeLimao);
    color: var(--branco);
}


.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 266px;
    background-color: var(--verdeOliva);
}

.footer-conteudo {
    position: absolute;
    color: var(--branco);
    text-align: center;
    font-size: 15px;
    top: 20%;
    left: 7%;
    right: 7%;
    font-family: 'Happy Monkey', cursive;
}

.footer-logo {
    position: absolute;
    top: 50%;
    font-family: 'Gochi Hand', cursive;
    font-size: 60px;
    margin-bottom: 140px;
    color: var(--branco);
}


/* Pagina de criar conta */
.conteudo-signup {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--branco-gelo);
}

.main-signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--verdeOliva);
}

.signup-esq {
    width: 433px;
    height: 100%;
}

.signup-esq h1 {
    text-align: center;
    font-size: 25pt;
    color: var(--branco);

}

.text-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    padding: 100px;
}

.text-signup p {
    margin-top: 80px;
    margin-bottom: 100px;
}

.text-signup button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    border-radius: 21%;
    border: 1px solid var(--branco);
    width: 137px;
    height: 46px;
    left: 301px;
    top: 524px;
    border-radius: 27px;
}

.text-signup button:hover {
    background: var(--branco);
    color: var(--verdeOliva);
    border: 1px solid var(--verdeOliva);
}

.socias-signup{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 40px;
    padding: 10px;
}

.cicle-socias {
    width: 52.24px;
    height: 50px;
    left: 907px;
    top: 344px;
    border-radius: 100%;
    background: var(--branco);
    border: 1px solid var(--verdeOliva)
}

.signup-dir {
    padding: 90px;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--branco);
}

.text-dir{
    padding-left: 20px;
    text-align: center;
}

.form-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 45px;
    padding: 20px;
    width: 350px;
    gap: 10px;
}
.form-signup input{
    background-color: var(--branco-gelo);
}

.btn-signup {
    margin-left: 80px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    border-radius: 21%;
    background-color: var(--verdeOliva);
    border: 1px solid var(--verdeOliva);
    width: 137px;
    height: 46px;
    left: 301px;
    top: 524px;
    border-radius: 27px;
}

.btn-signup:hover {
    background-color: var(--branco);
    border: 1px solid var(--verdeOliva);
    color: var(--verdeOliva);
}

/* PAGINA DE LOGIN */
.main-login{
    background-color: var(--branco-gelo);
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-login{
   padding: 60px; 
   padding-inline: 100px;
}



/* GRAFICO CANVAS */
.cardChart{
    width: 400px;
    height: 250px;
}